
* {
  --background-color: #D4EDDD;
  --font-color: #23321F;
  --content-color: #F0FFFF; /* @100% */
  --menu-bar: #23321F;
  --toggle: #00A878
}

.App {
  /* text-align: center; */
  background-color: var(--background-color);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: var(--font-color);
    font-size: calc(8px + 2vmin);
}

.Menu {
  background-color: var(--background-color);
  min-width: 100vw;
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
}