.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  background-color: var(--background-color);
}

.heading {
  padding: 10px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #d4eddd;
}

.subheading {
  text-align: center;
  background-color: #d4eddd;
}

.paragraph {
  text-align: left;
  background-color: #d4eddd;
  padding: 5px;
}

.search-bar {
  width: 50%;
}

.dietary-requirements {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.can-i-eat-this {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barcode-scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40px;
  max-height: auto;
  }

.happy-face {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sad-face {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-foods {
  padding-bottom: 100pt;
}

