
.about-section {
    padding: 20px;
    text-align: left;
    padding-bottom: 100px;

    background-color: var(--background-color);
  }
  
  .heading {
    color: var(--font-color);
    text-align: center;
    padding: 20px;
  }

  .subheading {
    text-align: center;
    padding: 20px;


  }

  .ingredients {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .ingredients-red {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }
  