  .about-section {
    padding: 20px;
    text-align: left;

    background-color: var(--background-color);
  }
  
  .heading {
    color: var(--font-color);
    text-align: center;
    padding: 20px;
  }

  .subheading {
    text-align: center;
    padding: 20px;

  }
  